<!-- Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- Google font -->
<link href="https://fonts.googleapis.com/css?family=Montserrat|Nunito+Sans|Quicksand|Roboto&display=swap" rel="stylesheet">
<!-- Maps API -->
<script src='https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet' />
<!-- Alpaca style -->
<link href="../../utils/css/style.css" rel="stylesheet">